<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InmacolProyecto.My.MySettings.INMACOLConnectionString"
            connectionString="Data Source=DESKTOP-ANLUEC3\SQLEXPRESS;Initial Catalog=INMACOL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="InmacolProyecto.My.MySettings.INMACOLConnectionString1"
            connectionString="Data Source=FEDE-DESKTOP\SQLEXPRESS;Initial Catalog=INMACOL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>